{% include "partials/header.html" %}

<div class="container">

  {% include "partials/flash.html" %}

  <div class="d-flex m-2">
    <a class="btn btn-outline-secondary me-1 " href="{{ url_for('customer.get_customers') }}"><i class="fa-solid fa-arrow-left-long px-2"></i></a>
    <a class="btn btn-outline-secondary me-1 ms-auto" href="{{ url_for('customer.edit_customer', customer_id=customer.id) }}"><i class="fa-solid fa-pen"></i></a>
    <button type="button" class="btn btn-outline-danger ms-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>

  <div class="py-4">
    <h1>{{customer.name}}</h1>
    <h3 class="subheading">Industry: {{customer.industry}}</h3>
    <h3 class="subheading">Industry: {{customer.industry}}</h3>
    <h3 class="subheading mb-4">Industry: {{customer.industry}}</h3>
    <span class="meta ">Last updated on {{customer.date}}</span>
  </div>

  <hr>
        
  <div class="d-flex mb-2">
    <h1 class="h2 py-2">Contacts</h1>
    <div class="ms-auto my-auto ">
      <div class="input-group">
        <input id="filter" type="text" class="form-control border-secondary" placeholder="Search Contacts" aria-label="Search Contacts">
      </div>
    </div>
    <a class="btn btn-outline-secondary my-auto ms-3" href="{{ url_for('customer.new_customer') }}"><i class="fa-solid fa-plus"></i>  Create Contact</a>
  </div>

  <div class="row">
    <div class="col-4 mb-3 searchable">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title pb-1">Stephen Spencer</h5>
          <p class="card-text mb-2">Role: Lorem, ipsum dolor.</p>
          <p class="card-text mb-2">Email: Lorem, ipsum dolor.</p>
          <p class="card-text mb-2">Phone: Lorem, ipsum dolor.</p>
          <p class="card-text mb-2">Region: Lorem, ipsum dolor.</p>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div class="d-flex mb-2">
    <h1 class="h2 py-2">Sales</h1>
    <a class="btn btn-outline-secondary my-auto ms-3 ms-auto" href="{{ url_for('customer.new_customer') }}"><i class="fa-solid fa-plus"></i>  Create Sales</a>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <div class="m-2">
            <div class="">
              <div class="row">
                <div class="col-2 my-auto">
                  <p class="text-bold mb-0">Value</p>
                </div>
                <div class="col-2 my-auto text-center">
                  <p class="card-text">Sales Rep</p>
                </div>
                <div class="col-2 my-auto text-center">
                  <p class="card-text">Reference</p>
                </div>
                <div class="col-2 my-auto text-center">
                  <p class="card-text">Date</p>
                </div>
                <div class="col-2 my-auto text-center">
                  <p class="card-text">Status</p>
                </div>
                <div class="col-2 text-end">
                  <p class="card-text">Opitions</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body p-0">
          {% if customers %}
            {% for customer in customers %}
            <div class="m-2 searchable">
              <div class="pb-2 px-3 pt-1 border-bottom ">
                <div class="row">
                  <div class="col-2 my-auto">
                    <p class="text-bold mb-0">{{customer.name}}</p>
                  </div>
                  <div class="col-2 my-auto text-center">
                    <p class="card-text">{{customer.industry}}</p>
                  </div>
                  <div class="col-2 my-auto text-center">
                    <p class="card-text">Lorem Ipsum</p>
                  </div>
                  <div class="col-2 my-auto text-center">
                    <p class="card-text">Lorem Ipsum</p>
                  </div>
                  <div class="col-2 my-auto text-center">
                    <p class="card-text">{{customer.date}}</p>
                  </div>
                  <div class="col-2 text-end">
                    <a class="btn btn-outline-secondary" href="{{ url_for('customer.show_customer', customer_id=customer.id) }}"><i class="fa-solid fa-arrow-right-long px-2"></i></a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <div class="m-4">
              <div class="text-center">
                <h5 class="card-title">This customer has no sales</h5>
                <p>Create a new sale to ...</p>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Deletion is permanent, once a customer is deleted they can not be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="{{ url_for('customer.delete_customer', customer_id=customer.id) }}">Delete</a>
      </div>
    </div>
  </div>
</div>

{% include "partials/footer.html" %}
