{% include "partials/basic-header.html" %}

<div class="container">

  <div class="row align-items-center g-lg-5 py-2">
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3" action="{{url_for('auth.login')}}" method="POST">
        {% include "partials/flash.html" %}
        {{ form.csrf_token }}
        <div class="form-floating mb-3">
          {{ form.email(class="form-control", placeholder="name@example.com") }}
          {{ form.email.label() }}
        </div>
        <div class="form-floating mb-3">
          {{ form.password(class="form-control", placeholder="name@example.com") }}
          {{ form.password.label() }}
        </div>
        <button class="w-100 btn btn-lg btn-outline-primary mb-3" type="submit">Login</button>
        <span class="text-secondary" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Forgotten password?</span>
      </form>
      <div class="mt-4 d-flex pe-3 alert alert-{{category}} alert-dismissible fade show border border-{{category}} text-{{category}} bg-transparent" role="alert">
        
        <div class="">
          <h5 class="card-title pb-1">User Account</h5>
          <p class="card-text mb-2">Email: test-5@test.com</p>
          <p class="card-text mb-2">Password: 1234567890</p>
        </div>
        
        <button type="button" class="ms-auto text-{{category}} border border-0 bg-transparent text-end" data-bs-dismiss="alert"><i class="fa-solid fa-xmark"></i></button>
      </div>

      <div class="d-flex pe-3 alert alert-{{category}} alert-dismissible fade show border border-{{category}} text-{{category}} bg-transparent" role="alert">
        <h5 class="card-title pb-1">User Account</h5>
          <p class="card-text mb-2">Email: test-5@test.com</p>
          <p class="card-text mb-2">Password: 1234567890</p>
        <button type="button" class="ms-auto text-{{category}} border border-0 bg-transparent text-end" data-bs-dismiss="alert"><i class="fa-solid fa-xmark"></i></button>
      </div>


    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Password Reset</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please enter the email address associated with your account.</p>
        <p>An admin will send you link to change your password as soon as possible.</p>
        <form action="">
          <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            <label for="email">Email address</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

{% include "partials/footer.html" %}