{% include "partials/header.html" %}
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto pt-3 pb-2">
          <div class="page-heading">
            {% if is_edit: %}
            <h1 class="h2">Edit Sale</h1>
            {% else: %}
            <h1 class="h2">New Sale</h1>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto pb-5">
        {% include "partials/flash.html" %}
        {% if is_edit: %}
        <form action="{{ url_for('sale.edit_sale', sale_id=sale_id) }}" method="POST">
        {% else: %}
        <form action="{{ url_for('sale.new_sale', customer_id=customer_id) }}" method="POST">
        {% endif %}

          {{ form.csrf_token }}
          <div class="form-floating mb-3">
            {{ form.value(class="form-control", placeholder="name@example.com") }}
            {{ form.value.label() }}
          </div>
          <div class="form-floating mb-3">
            {{ form.status(class="form-select fw-normal", placeholder="Status") }}
            {{ form.status.label(class="fw-normal") }}
          </div>  
          {% if is_edit: %}
          <button class="w-100 btn btn-lg btn-outline-secondary" type="submit">Update Sale</button>
          {% else: %}
          <button class="w-100 btn btn-lg btn-outline-secondary" type="submit">Create Sale</button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>

{% include "partials/footer.html" %}