{% include "partials/header.html" %}

<div class="container">

  <div class="d-flex mb-2">
    {% if current_user.role == "admin": %}
    <h1 class="h2 py-2">All Sales</h1>
    {% else %}
    <h1 class="h2 py-2">Your Sales</h1>
    {% endif %}
    <div class="my-auto ms-auto">
      <div class="input-group">
        <input id="filter" type="text" class="form-control border-secondary" placeholder="Search Sales" aria-label="Search Sales">
      </div>
    </div>
  </div>

  {% include "partials/flash.html" %}

  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <div class="m-2">
            <div class="">
              <div class="row">
                <div class="col-2 my-auto">
                  <p class="card-text">Sales Rep</p>
                </div>
                <div class="col-2 my-auto text-center">
                  <p class="text-bold mb-0">Value</p>
                </div>
                <div class="col-2 my-auto text-center">
                  <p class="card-text">Reference</p>
                </div>
                <div class="col-2 my-auto text-center">
                  <p class="text-bold mb-0">Customer</p>
                </div>
                <div class="col-2 my-auto text-center">
                  <p class="card-text">Status</p>
                </div>
                <div class="col-2 text-end">
                  <p class="card-text">Options</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body p-0">
        {% if sales %}
          {% for sale in sales %}
            <div class="m-2 searchable">
              <div class="pb-2 px-3 pt-1 border-bottom ">
                <div class="row">
                  <div class="col-2 my-auto">
                    <p class="card-text">{{sale.rep.name}}</p>
                  </div>
                  <div class="col-2 my-auto text-center">
                    <p class="text-bold mb-0">£{{sale.value}}</p>
                  </div>
                  <div class="col-2 my-auto text-center">
                    <p class="card-text">{{sale.id}}</p>
                  </div>
                  <div class="col-2 my-auto text-center">
                    <p class="text-bold mb-0">{{sale.parent_customer.name}}</p>
                  </div>
                  <div class="col-2 my-auto text-center">
                    <p class="card-text">{{sale.status}}</p>
                  </div>
                  <div class="col-2 text-end">
                    <a class="btn btn-outline-secondary" href="{{ url_for('customer.show_customer', customer_id=sale.customer_id) }}"><i class="fa-solid fa-arrow-right-long px-2"></i></a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          {% else %}
          <div class="m-4">
            <div class="text-center">
              <h5 class="card-title">No existing sales.</h5>
                <p>Create a new sale to record value, reference and status.</p>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

</div>

{% include "partials/footer.html" %}